<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyj.fee.dao.CfgIvrsMapper" >
  <resultMap id="BaseResultMap" type="com.zsyj.fee.entity.CfgIvrs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trone" property="trone" jdbcType="VARCHAR" />
    <result column="command" property="command" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
    <result column="spid" property="spid" jdbcType="VARCHAR" />
    <result column="delete_info" property="deleteInfo" jdbcType="VARCHAR" />
    <result column="delete_no" property="deleteNo" jdbcType="VARCHAR" />
    <result column="trone_type" property="troneType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trone, command, area, price, service_name, spid, delete_info, delete_no, trone_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsyj.fee.entity.CfgIvrsCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cfg_ivrs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cfg_ivrs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cfg_ivrs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsyj.fee.entity.CfgIvrsCondition" >
    delete from cfg_ivrs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsyj.fee.entity.CfgIvrs" >
    insert into cfg_ivrs (id, trone, command, 
      area, price, service_name, 
      spid, delete_info, delete_no, 
      trone_type)
    values (#{id,jdbcType=INTEGER}, #{trone,jdbcType=VARCHAR}, #{command,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{serviceName,jdbcType=VARCHAR}, 
      #{spid,jdbcType=VARCHAR}, #{deleteInfo,jdbcType=VARCHAR}, #{deleteNo,jdbcType=VARCHAR}, 
      #{troneType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zsyj.fee.entity.CfgIvrs" >
    insert into cfg_ivrs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trone != null" >
        trone,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="serviceName != null" >
        service_name,
      </if>
      <if test="spid != null" >
        spid,
      </if>
      <if test="deleteInfo != null" >
        delete_info,
      </if>
      <if test="deleteNo != null" >
        delete_no,
      </if>
      <if test="troneType != null" >
        trone_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trone != null" >
        #{trone,jdbcType=VARCHAR},
      </if>
      <if test="command != null" >
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=VARCHAR},
      </if>
      <if test="deleteInfo != null" >
        #{deleteInfo,jdbcType=VARCHAR},
      </if>
      <if test="deleteNo != null" >
        #{deleteNo,jdbcType=VARCHAR},
      </if>
      <if test="troneType != null" >
        #{troneType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsyj.fee.entity.CfgIvrsCondition" resultType="java.lang.Integer" >
    select count(*) from cfg_ivrs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cfg_ivrs
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.trone != null" >
        trone = #{record.trone,jdbcType=VARCHAR},
      </if>
      <if test="record.command != null" >
        command = #{record.command,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceName != null" >
        service_name = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.spid != null" >
        spid = #{record.spid,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteInfo != null" >
        delete_info = #{record.deleteInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteNo != null" >
        delete_no = #{record.deleteNo,jdbcType=VARCHAR},
      </if>
      <if test="record.troneType != null" >
        trone_type = #{record.troneType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cfg_ivrs
    set id = #{record.id,jdbcType=INTEGER},
      trone = #{record.trone,jdbcType=VARCHAR},
      command = #{record.command,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      spid = #{record.spid,jdbcType=VARCHAR},
      delete_info = #{record.deleteInfo,jdbcType=VARCHAR},
      delete_no = #{record.deleteNo,jdbcType=VARCHAR},
      trone_type = #{record.troneType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsyj.fee.entity.CfgIvrs" >
    update cfg_ivrs
    <set >
      <if test="trone != null" >
        trone = #{trone,jdbcType=VARCHAR},
      </if>
      <if test="command != null" >
        command = #{command,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="serviceName != null" >
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="spid != null" >
        spid = #{spid,jdbcType=VARCHAR},
      </if>
      <if test="deleteInfo != null" >
        delete_info = #{deleteInfo,jdbcType=VARCHAR},
      </if>
      <if test="deleteNo != null" >
        delete_no = #{deleteNo,jdbcType=VARCHAR},
      </if>
      <if test="troneType != null" >
        trone_type = #{troneType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsyj.fee.entity.CfgIvrs" >
    update cfg_ivrs
    set trone = #{trone,jdbcType=VARCHAR},
      command = #{command,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      service_name = #{serviceName,jdbcType=VARCHAR},
      spid = #{spid,jdbcType=VARCHAR},
      delete_info = #{deleteInfo,jdbcType=VARCHAR},
      delete_no = #{deleteNo,jdbcType=VARCHAR},
      trone_type = #{troneType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>