<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyj.fee.dao.CfgTelcodeMapper" >
  <resultMap id="BaseResultMap" type="com.zsyj.fee.entity.CfgTelcode" >
    <id column="telCode" property="telcode" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="areaCode" property="areacode" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="district_code_list" property="districtCodeList" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    telCode, title, areaCode, district_code, district_code_list
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsyj.fee.entity.CfgTelcodeCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cfg_telcode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cfg_telcode
    where telCode = #{telcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cfg_telcode
    where telCode = #{telcode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsyj.fee.entity.CfgTelcodeCondition" >
    delete from cfg_telcode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsyj.fee.entity.CfgTelcode" >
    insert into cfg_telcode (telCode, title, areaCode, 
      district_code, district_code_list)
    values (#{telcode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, 
      #{districtCode,jdbcType=VARCHAR}, #{districtCodeList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zsyj.fee.entity.CfgTelcode" >
    insert into cfg_telcode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="telcode != null" >
        telCode,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="areacode != null" >
        areaCode,
      </if>
      <if test="districtCode != null" >
        district_code,
      </if>
      <if test="districtCodeList != null" >
        district_code_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="telcode != null" >
        #{telcode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        #{districtCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCodeList != null" >
        #{districtCodeList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsyj.fee.entity.CfgTelcodeCondition" resultType="java.lang.Integer" >
    select count(*) from cfg_telcode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cfg_telcode
    <set >
      <if test="record.telcode != null" >
        telCode = #{record.telcode,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null" >
        areaCode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.districtCode != null" >
        district_code = #{record.districtCode,jdbcType=VARCHAR},
      </if>
      <if test="record.districtCodeList != null" >
        district_code_list = #{record.districtCodeList,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cfg_telcode
    set telCode = #{record.telcode,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      areaCode = #{record.areacode,jdbcType=VARCHAR},
      district_code = #{record.districtCode,jdbcType=VARCHAR},
      district_code_list = #{record.districtCodeList,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsyj.fee.entity.CfgTelcode" >
    update cfg_telcode
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCodeList != null" >
        district_code_list = #{districtCodeList,jdbcType=VARCHAR},
      </if>
    </set>
    where telCode = #{telcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsyj.fee.entity.CfgTelcode" >
    update cfg_telcode
    set title = #{title,jdbcType=VARCHAR},
      areaCode = #{areacode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR},
      district_code_list = #{districtCodeList,jdbcType=VARCHAR}
    where telCode = #{telcode,jdbcType=VARCHAR}
  </update>
</mapper>