<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyj.fee.dao.IpInfosMapper" >
  <resultMap id="BaseResultMap" type="com.zsyj.fee.entity.IpInfos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="areacode" property="areacode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="troneType" property="tronetype" jdbcType="VARCHAR" />
    <result column="telCode" property="telcode" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ip, province, areacode, city, troneType, telCode, district_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsyj.fee.entity.IpInfosCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ip_infos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ip_infos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ip_infos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsyj.fee.entity.IpInfosCondition" >
    delete from ip_infos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsyj.fee.entity.IpInfos" >
    insert into ip_infos (id, ip, province, 
      areacode, city, troneType, 
      telCode, district_code)
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{areacode,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{tronetype,jdbcType=VARCHAR}, 
      #{telcode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zsyj.fee.entity.IpInfos" >
    insert into ip_infos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="areacode != null" >
        areacode,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="tronetype != null" >
        troneType,
      </if>
      <if test="telcode != null" >
        telCode,
      </if>
      <if test="districtCode != null" >
        district_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="tronetype != null" >
        #{tronetype,jdbcType=VARCHAR},
      </if>
      <if test="telcode != null" >
        #{telcode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        #{districtCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsyj.fee.entity.IpInfosCondition" resultType="java.lang.Integer" >
    select count(*) from ip_infos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ip_infos
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.areacode != null" >
        areacode = #{record.areacode,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.tronetype != null" >
        troneType = #{record.tronetype,jdbcType=VARCHAR},
      </if>
      <if test="record.telcode != null" >
        telCode = #{record.telcode,jdbcType=VARCHAR},
      </if>
      <if test="record.districtCode != null" >
        district_code = #{record.districtCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ip_infos
    set id = #{record.id,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      areacode = #{record.areacode,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      troneType = #{record.tronetype,jdbcType=VARCHAR},
      telCode = #{record.telcode,jdbcType=VARCHAR},
      district_code = #{record.districtCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsyj.fee.entity.IpInfos" >
    update ip_infos
    <set >
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="tronetype != null" >
        troneType = #{tronetype,jdbcType=VARCHAR},
      </if>
      <if test="telcode != null" >
        telCode = #{telcode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null" >
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsyj.fee.entity.IpInfos" >
    update ip_infos
    set ip = #{ip,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      troneType = #{tronetype,jdbcType=VARCHAR},
      telCode = #{telcode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>