<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyj.fee.dao.SolarMonitorMapper" >
  <resultMap id="BaseResultMap" type="com.zsyj.fee.entity.SolarMonitor" >
    <id column="monnitor_id" property="monnitorId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="agent_code" property="agentCode" jdbcType="INTEGER" />
    <result column="monitor_code" property="monitorCode" jdbcType="VARCHAR" />
    <result column="monitor_name" property="monitorName" jdbcType="VARCHAR" />
    <result column="sale_user_id" property="saleUserId" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="cpa_cps_price" property="cpaCpsPrice" jdbcType="DOUBLE" />
    <result column="user_rate" property="userRate" jdbcType="DOUBLE" />
    <result column="money_rate" property="moneyRate" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    monnitor_id, user_id, agent_code, monitor_code, monitor_name, sale_user_id, appid, 
    type, cpa_cps_price, user_rate, money_rate, status, add_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsyj.fee.entity.SolarMonitorCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from solar_monitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from solar_monitor
    where monnitor_id = #{monnitorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from solar_monitor
    where monnitor_id = #{monnitorId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsyj.fee.entity.SolarMonitorCondition" >
    delete from solar_monitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsyj.fee.entity.SolarMonitor" >
    insert into solar_monitor (monnitor_id, user_id, agent_code, 
      monitor_code, monitor_name, sale_user_id, 
      appid, type, cpa_cps_price, 
      user_rate, money_rate, status, 
      add_time, update_time)
    values (#{monnitorId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{agentCode,jdbcType=INTEGER}, 
      #{monitorCode,jdbcType=VARCHAR}, #{monitorName,jdbcType=VARCHAR}, #{saleUserId,jdbcType=INTEGER}, 
      #{appid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{cpaCpsPrice,jdbcType=DOUBLE}, 
      #{userRate,jdbcType=DOUBLE}, #{moneyRate,jdbcType=DOUBLE}, #{status,jdbcType=TINYINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zsyj.fee.entity.SolarMonitor" >
    insert into solar_monitor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="monnitorId != null" >
        monnitor_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="agentCode != null" >
        agent_code,
      </if>
      <if test="monitorCode != null" >
        monitor_code,
      </if>
      <if test="monitorName != null" >
        monitor_name,
      </if>
      <if test="saleUserId != null" >
        sale_user_id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="cpaCpsPrice != null" >
        cpa_cps_price,
      </if>
      <if test="userRate != null" >
        user_rate,
      </if>
      <if test="moneyRate != null" >
        money_rate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="monnitorId != null" >
        #{monnitorId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentCode != null" >
        #{agentCode,jdbcType=INTEGER},
      </if>
      <if test="monitorCode != null" >
        #{monitorCode,jdbcType=VARCHAR},
      </if>
      <if test="monitorName != null" >
        #{monitorName,jdbcType=VARCHAR},
      </if>
      <if test="saleUserId != null" >
        #{saleUserId,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="cpaCpsPrice != null" >
        #{cpaCpsPrice,jdbcType=DOUBLE},
      </if>
      <if test="userRate != null" >
        #{userRate,jdbcType=DOUBLE},
      </if>
      <if test="moneyRate != null" >
        #{moneyRate,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsyj.fee.entity.SolarMonitorCondition" resultType="java.lang.Integer" >
    select count(*) from solar_monitor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update solar_monitor
    <set >
      <if test="record.monnitorId != null" >
        monnitor_id = #{record.monnitorId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.agentCode != null" >
        agent_code = #{record.agentCode,jdbcType=INTEGER},
      </if>
      <if test="record.monitorCode != null" >
        monitor_code = #{record.monitorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.monitorName != null" >
        monitor_name = #{record.monitorName,jdbcType=VARCHAR},
      </if>
      <if test="record.saleUserId != null" >
        sale_user_id = #{record.saleUserId,jdbcType=INTEGER},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.cpaCpsPrice != null" >
        cpa_cps_price = #{record.cpaCpsPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.userRate != null" >
        user_rate = #{record.userRate,jdbcType=DOUBLE},
      </if>
      <if test="record.moneyRate != null" >
        money_rate = #{record.moneyRate,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update solar_monitor
    set monnitor_id = #{record.monnitorId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      agent_code = #{record.agentCode,jdbcType=INTEGER},
      monitor_code = #{record.monitorCode,jdbcType=VARCHAR},
      monitor_name = #{record.monitorName,jdbcType=VARCHAR},
      sale_user_id = #{record.saleUserId,jdbcType=INTEGER},
      appid = #{record.appid,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      cpa_cps_price = #{record.cpaCpsPrice,jdbcType=DOUBLE},
      user_rate = #{record.userRate,jdbcType=DOUBLE},
      money_rate = #{record.moneyRate,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=TINYINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsyj.fee.entity.SolarMonitor" >
    update solar_monitor
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentCode != null" >
        agent_code = #{agentCode,jdbcType=INTEGER},
      </if>
      <if test="monitorCode != null" >
        monitor_code = #{monitorCode,jdbcType=VARCHAR},
      </if>
      <if test="monitorName != null" >
        monitor_name = #{monitorName,jdbcType=VARCHAR},
      </if>
      <if test="saleUserId != null" >
        sale_user_id = #{saleUserId,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="cpaCpsPrice != null" >
        cpa_cps_price = #{cpaCpsPrice,jdbcType=DOUBLE},
      </if>
      <if test="userRate != null" >
        user_rate = #{userRate,jdbcType=DOUBLE},
      </if>
      <if test="moneyRate != null" >
        money_rate = #{moneyRate,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where monnitor_id = #{monnitorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsyj.fee.entity.SolarMonitor" >
    update solar_monitor
    set user_id = #{userId,jdbcType=INTEGER},
      agent_code = #{agentCode,jdbcType=INTEGER},
      monitor_code = #{monitorCode,jdbcType=VARCHAR},
      monitor_name = #{monitorName,jdbcType=VARCHAR},
      sale_user_id = #{saleUserId,jdbcType=INTEGER},
      appid = #{appid,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      cpa_cps_price = #{cpaCpsPrice,jdbcType=DOUBLE},
      user_rate = #{userRate,jdbcType=DOUBLE},
      money_rate = #{moneyRate,jdbcType=DOUBLE},
      status = #{status,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where monnitor_id = #{monnitorId,jdbcType=INTEGER}
  </update>
</mapper>