<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsyj.fee.dao.SolarAgentMapper" >
  <resultMap id="BaseResultMap" type="com.zsyj.fee.entity.SolarAgent" >
    <id column="agent_id" property="agentId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="agent_code" property="agentCode" jdbcType="VARCHAR" />
    <result column="agent_name" property="agentName" jdbcType="VARCHAR" />
    <result column="sale_user_id" property="saleUserId" jdbcType="INTEGER" />
    <result column="syn_url" property="synUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="type_value" property="typeValue" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    agent_id, user_id, agent_code, agent_name, sale_user_id, syn_url, type, type_value, 
    status, add_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zsyj.fee.entity.SolarAgentCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from solar_agent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from solar_agent
    where agent_id = #{agentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from solar_agent
    where agent_id = #{agentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zsyj.fee.entity.SolarAgentCondition" >
    delete from solar_agent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zsyj.fee.entity.SolarAgent" >
    insert into solar_agent (agent_id, user_id, agent_code, 
      agent_name, sale_user_id, syn_url, 
      type, type_value, status, 
      add_time, update_time)
    values (#{agentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{agentCode,jdbcType=VARCHAR}, 
      #{agentName,jdbcType=VARCHAR}, #{saleUserId,jdbcType=INTEGER}, #{synUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{typeValue,jdbcType=DOUBLE}, #{status,jdbcType=TINYINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zsyj.fee.entity.SolarAgent" >
    insert into solar_agent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agentId != null" >
        agent_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="agentCode != null" >
        agent_code,
      </if>
      <if test="agentName != null" >
        agent_name,
      </if>
      <if test="saleUserId != null" >
        sale_user_id,
      </if>
      <if test="synUrl != null" >
        syn_url,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeValue != null" >
        type_value,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agentId != null" >
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentCode != null" >
        #{agentCode,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="saleUserId != null" >
        #{saleUserId,jdbcType=INTEGER},
      </if>
      <if test="synUrl != null" >
        #{synUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="typeValue != null" >
        #{typeValue,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zsyj.fee.entity.SolarAgentCondition" resultType="java.lang.Integer" >
    select count(*) from solar_agent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update solar_agent
    <set >
      <if test="record.agentId != null" >
        agent_id = #{record.agentId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.agentCode != null" >
        agent_code = #{record.agentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.agentName != null" >
        agent_name = #{record.agentName,jdbcType=VARCHAR},
      </if>
      <if test="record.saleUserId != null" >
        sale_user_id = #{record.saleUserId,jdbcType=INTEGER},
      </if>
      <if test="record.synUrl != null" >
        syn_url = #{record.synUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.typeValue != null" >
        type_value = #{record.typeValue,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update solar_agent
    set agent_id = #{record.agentId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      agent_code = #{record.agentCode,jdbcType=VARCHAR},
      agent_name = #{record.agentName,jdbcType=VARCHAR},
      sale_user_id = #{record.saleUserId,jdbcType=INTEGER},
      syn_url = #{record.synUrl,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT},
      type_value = #{record.typeValue,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=TINYINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsyj.fee.entity.SolarAgent" >
    update solar_agent
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentCode != null" >
        agent_code = #{agentCode,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null" >
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="saleUserId != null" >
        sale_user_id = #{saleUserId,jdbcType=INTEGER},
      </if>
      <if test="synUrl != null" >
        syn_url = #{synUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="typeValue != null" >
        type_value = #{typeValue,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where agent_id = #{agentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsyj.fee.entity.SolarAgent" >
    update solar_agent
    set user_id = #{userId,jdbcType=INTEGER},
      agent_code = #{agentCode,jdbcType=VARCHAR},
      agent_name = #{agentName,jdbcType=VARCHAR},
      sale_user_id = #{saleUserId,jdbcType=INTEGER},
      syn_url = #{synUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      type_value = #{typeValue,jdbcType=DOUBLE},
      status = #{status,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where agent_id = #{agentId,jdbcType=INTEGER}
  </update>
</mapper>